*.class
*.jar
*.war
*.ear
log/
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea
.gradle
.gradletasknamecache
build/*
classes/*
/out/
.idea_modules/
target/
dump.rdb
gradle/wrapper/
.classpath
.project
settings/
gradlew*
bin/
core/bin
service/bin
webapp/logs/*
logs/*
log/*
*.tgz
target/*
.classpath
.project
~*
.settings/
catalina.base_IS_UNDEFINED/
.idea/
*.iml
.externalToolBuilders/
.svn/